body{
  background-color: #595959;
}


#pnav a{
  box-shadow: 0px 8px 10px -4px #00000069;
  border-radius: 15px;
    text-decoration: none;
    background:url(Koka_Cortes_Make.png) 0 0 no-repeat;
    background-size: cover;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
      text-align: center;
      color: #fff;
      padding-top: 20px;;
    width:500px;
    height:300px;


    -webkit-transition: background-position 5s ease-in-out;
    -moz-transition: background-position 5s ease-in-out;
    -ms-transition: background-position 5s ease-in-out;
    -o-transition: background-position 5s ease-in-out;
    transition: background-position 5s ease-in-out;
}

#pnav a h1{
  border-radius: 5px;
    background-color: white;
     color: #004991;
}


#pnav a:hover {
    background-position:0px -1800px;
 
    opacity: 0.8;

}
